/* --------------------
   Home Page Layout 
-------------------- */
.home-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 60px 20px;
}

.home-header {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.home-title {
	font-size: clamp(2rem, 5vw, 3rem);
	color: #ff5733;
	margin-bottom: 20px;
	text-align: center;
}

/* --------------------
   About Page Layout 
-------------------- */

.about-page {
	text-align: center;
}
.about-title {
	font-size: 2.75rem;
	margin-bottom: 20px;
	color: #333;
}

.about-description {
	max-width: 800px;
	margin: 0 auto 40px;
	font-size: 1.125rem;
	line-height: 1.6;
}

.faq-title {
	font-size: 2rem;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #222;
}

.faq-entry {
	max-width: 700px;
	margin: 0 auto 30px;
	text-align: left;
	padding: 20px;
	border-radius: 10px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}

.faq-entry h3 {
	font-size: 1.25rem;
	margin-bottom: 8px;
	color: #444;
}

.faq-entry p {
	font-size: 1rem;
	line-height: 1.6;
	color: #555;
}

.about-link {
	text-decoration: none;
	color: #428bca;
	transition: color 0.3s ease;
}

.about-link:hover {
	text-decoration: underline;
	color: #1261a5;
}

/* --------------------------
   Privacy Policy Page Layout 
----------------------------- */

/* --------------------
   Contact Page Layout 
-------------------- */
