<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rewindify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='rewindify-logo.svg') }}" alt="Rewindify Logo" style="height:40px" />
        </div>
        <div class="nav-links">
            <a href="{{ url_for('home') }}" class="nav-button">Home</a>
            <a href="{{ url_for('about') }}" class="nav-button">About</a>
            <a href="{{ url_for('privacy_policy') }}" class="nav-button">Privacy Policy</a>
            <a href="{{ url_for('contact') }}" class="nav-button">Contact</a>
            <button id="logout-btn" class="logout-button" style="display:none;">Log out</button>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script>
        const CLIENT_ID = {{ client_id|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
